Dropbox
.AndroidStudio3.2
.Genymobile
.config/mpd/**
.cache
.bm**
.SpaceVim/
.Xauthority
.arduino15
.bash_history
.bash_logout
.cargo
.dropbox
dsk/**
dwn/**
exc/**
gam/**
doc/**
cod/**
.gem
.phet
.gnupg
.icons
.java
.local
.lyrics 
.mail  
.mednafen
.minecraft
mnt
.mono
.mozilla
.ncmpcpp
.ndless
.newsboat
.node-gyp
.npm
.offlineimap
pho
pix
.pki
pub
rom
.scr
.screenlayout
snd
.ssh
src
.steam
.surf
Sync
.tmux
vid
.w3m
.weechat
.wine
.xdg_menu_cache
.dmrc
.esd_auth 
.fehbg
.git-credentials 
.grive
.hushlogin
.jgmenu-lockfile
.msmtprc
.offlineimaprc
.offlineimaprce
.readme.mom
.rnf
.steampath
.steampid
.tilp
.viminfo
.viminfo.tmp
.viminfz.tmp
.wget-hsts
.xsession-errors.old
1
.config/cef_user_data
.config/kicad
.config/menus
.config/mpv
.config/mutt
.config/pulse
.config/spotify
.config/st
.config/vivaldi
.config/yay
.config/zathura
git
.rnd
.cache
.gitconfig
.Xauthority
.esd_auth
.bash_history
.jgmenu-lockfile
.pulse-cookie
.local/share/**
.SpaceVim**
.ncmpcpp
.config/discord
.vscode-oss
.klei
.config/Code**
.calcurse
.viminfo
.lesshist
.config/google-chrome/**
.bliss/**
.config/inkscape/**
.config/dwm_/**
.config/_dwm/**
.config/dolphin-emu/**
.config/tilem2/**
.py**
