Virtual*
.AndroidStudio3.2
.wine
.mozilla
.ArchLabs-homepage
.Genymobile
.PlayOnLinux
.surf
.atom
.cache
.electron
.gnupg
.icons
.java
.local
.lyrics
.mail
.minecraft
.mono
.node-gyp
.npm
.offlineimap
.pki
.steam
.ssh
.xdg_menu_cache
cld/**
doc/src/**
doc/arc/**
dsk/**
dwn/**
pix/**
snd/**
vid/**
rom/**
.Xauthority
.bash_history
.bash_logout
.bmdirs
.bmfiles
.dmrc
.esd_auth
.grive
.hushlogin
.jgmenu-lockfile
.msmtp.log
.msmtprc
.offlineimaprc
.offlineimaprce
.readme.mom
.rnd
.viminfo
.weatherreport
.wget-hsts
.xsession-errors
.xsession-errors.old
.zshrc
.zshrc.zwc
.config/awesome
.config/mutt
.config/lpass
.config/dwm.old
.config/GIMP
gam/**
exc/**
pho/**
git/**
